@import "tailwindcss";

:root {
  font-family: var(--font-outfit), sans-serif;
}

body {
  font-family: var(--font-outfit);
  background: #000;
}


.heading-light {
  @apply text-white text-4xl md:text-6xl font-semibold
}
