@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
	font-family: var(--font-outfit), sans-serif;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: #fff;
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

body {
	font-family: var(--font-outfit);
	background-color: #000;
}

@theme {
	--color-light: #fff;
	--color-dark: #000;
}

.heading-light {
	@apply text-white text-4xl md:text-6xl font-semibold;
}

.heading-dark {
	@apply text-black text-4xl md:text-6xl font-semibold;
}

.description {
	@apply text-[#777777] text-sm max-w-[60ch];
}

.flex-center {
  @apply flex items-center justify-center
}

.background-container {
	background-image: url("/public/images/heroImage.jpg"); /* Path relative to the public folder */
	background-size: cover; /* Ensures the image covers the entire container */
	background-position: center; /* Centers the image */
	height: 100vh; /* Example: full viewport height */
	width: 100%; /* Example: full width */
}
